
.container {
  background-color: #ffe4b5; /* Color de fondo crema */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center; /* Centra el contenido del contenedor */
}

.title {
  color: #030202; /* Color de título negro */
  font-size: 3rem;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario */
}

.formGroup {
  width: 100%;
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Alinea las etiquetas a la izquierda */
  font-weight: bold;
}

.input,
.select,
.textarea,
.button {
  width: 100%; /* Ajuste del ancho al 100% del formGroup */
  padding: 10px;
  border: 1px solid #ffa500; /* Borde anaranjado */
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

.select {
  background-color: #ffdead; /* Color de fondo navajo white */
}

.textarea {
  height: 100px;
  resize: vertical;
}

.button {
  background-color: #20b2aa; /* Color de botón light sea green */
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3cb371; /* Color de botón verde medium sea green al pasar el mouse */
}

.link {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #8a2be2; /* Color de enlace blue violet */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
